<style>
  [cdkmenubar] {
    display: flex;
    flex-direction: row;
  }
  li {
    list-style: none;
  }
  a {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px black;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 16px;
    padding: 4px 16px;
    border-radius: 2px;
  }
  a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  [cdkmenu] {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin: 0;
    padding: 0;
  }

  .cdk-focused {
    border: solid 1px red;
    outline: none;
  }
</style>

<ul cdkMenuBar>
  <li><a id="file_button" [cdkTriggerFor]="about">About</a></li>
  <li><a id="edit_button" [cdkTriggerFor]="admissions">Admissions</a></li>
</ul>

<!-- use panel to get reference to child cdkMenu -->
<ng-template cdkMenuPanel #about="cdkMenuPanel">
  <ul cdkMenu>
    <li role="none"><a id="quit_button" cdkMenuItem>Overview</a></li>
    <li role="none"><a id="quit_button" cdkMenuItem>Administration</a></li>
    <li role="none"><a id="open_with_button" [cdkTriggerFor]="facts">Facts</a></li>
    <li role="none"><a id="open_with_button" [cdkTriggerFor]="tours">Campus Tours</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #facts="cdkMenuPanel">
  <ul cdkMenu>
    <li role="none"><a id="open_with_office_button" cdkMenuItem>History</a></li>
    <li role="none"><a id="open_with_excel_button" cdkMenuItem>Current Statistics</a></li>
    <li role="none"><a id="open_with_excel_button" cdkMenuItem>Awards</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #tours="cdkMenuPanel">
  <ul cdkMenu>
    <li role="none"><a id="edit_clear_button" cdkMenuItem>For prospective students</a></li>
    <li role="none"><a id="edit_save_button" cdkMenuItem>For alumni</a></li>
    <li role="none"><a id="edit_save_button" cdkMenuItem>For visitors</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #admissions="cdkMenuPanel">
  <ul cdkMenu>
    <li role="none"><a id="edit_clear_button" cdkMenuItem>Apply</a></li>
    <li role="none"><a id="edit_save_button" cdkMenuItem>Sign up</a></li>
  </ul>
</ng-template>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<button tabindex="0">other</button>
