<style>
  [cdkmenubar] {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  li {
    list-style: none;
  }
  [cdkmenubar] button {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 26px;
    padding: 0 16px;
    border-radius: 2px;
  }
  [cdkmenubar] button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  [cdkmenu] {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin: 0;
    padding: 0;
  }
  [cdkmenu] button {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 16px;
    padding: 4px 16px;
    border-radius: 2px;
  }
  [cdkmenu] button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .cdk-focused {
    border: solid 2px red;
  }
</style>

<ul cdkMenuBar>
  <li><button id="file_button" [cdkMenuItem]="file">File</button></li>
  <li><button id="edit_button" [cdkMenuItem]="edit">Edit</button></li>
</ul>

<!-- use panel to get reference to child cdkMenu -->
<ng-template cdkMenuPanel #file="cdkMenuPanel">
  <ul cdkMenu>
    <li><button id="open_with_button" [cdkMenuItem]="open">Open with...</button></li>
    <li><button id="quit_button" cdkMenuItem>Quit</button></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #open="cdkMenuPanel">
  <ul cdkMenu>
    <li><button id="open_with_office_button" cdkMenuItem>Office</button></li>
    <li><button id="open_with_excel_button" cdkMenuItem>Excel</button></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #edit="cdkMenuPanel">
  <ul cdkMenu>
    <li><button id="edit_clear_button" cdkMenuItem>Clear</button></li>
    <li><button id="edit_save_button" cdkMenuItem>Save</button></li>
  </ul>
</ng-template>
