<style>
  [cdkmenubar] {
    display: flex;
    flex-direction: row;
  }
  li {
    list-style: none;
  }
  a,
  [cdkmenuitem] {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px black;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 16px;
    padding: 4px 16px;
    border-radius: 2px;
  }
  li[role='separator'] {
    background-color: rgba(0, 0, 0, 0.1);
    height: 10px;
    margin: 0;
  }
  a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  [cdkmenu],
  [cdkMenuRadioGroup],
  ul[role='group'] {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin: 0;
    padding: 0;
  }

  .cdk-focused {
    border: solid 1px red;
    outline: none;
  }
  [cdkmenuitem][role='menuitemradio'][aria-checked='true'] {
    background-color: blue;
  }
  [cdkmenuitem][role='menuitemcheckbox'][aria-checked='true'] {
    background-color: green;
  }
</style>

<ul cdkMenuBar>
  <li role="none"><a id="about_button" [cdkTriggerFor]="about">About</a></li>
  <li role="none"><a id="admissions_button" [cdkTriggerFor]="admissions">Admissions</a></li>
  <!-- for testing groups -->
  <li role="none"><a id="style_button" [cdkTriggerFor]="styles">Style/Color</a></li>
</ul>

<!-- use panel to get reference to child cdkMenu -->
<ng-template cdkMenuPanel #about="cdkMenuPanel">
  <ul cdkMenu id="about_menu">
    <li role="none"><a id="overview_button" cdkMenuItem>Overview</a></li>
    <li role="none"><a id="admin_button" cdkMenuItem>Administration</a></li>
    <li role="none"><a id="facts_button" [cdkTriggerFor]="facts">Facts</a></li>
    <li role="none"><a id="tours_button" [cdkTriggerFor]="tours">Campus Tours</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #facts="cdkMenuPanel">
  <ul cdkMenu id="facts_menu">
    <li role="none"><a id="history_button" cdkMenuItem>History</a></li>
    <li role="none"><a id="stats_button" cdkMenuItem>Current Statistics</a></li>
    <li role="none"><a id="awards_button" cdkMenuItem>Awards</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #tours="cdkMenuPanel">
  <ul cdkMenu id="tours_menu">
    <li role="none"><a id="students_button" cdkMenuItem>For prospective students</a></li>
    <li role="none"><a id="alum_button" cdkMenuItem>For alumni</a></li>
    <li role="none"><a id="visitors_button" cdkMenuItem>For visitors</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #admissions="cdkMenuPanel">
  <ul cdkMenu id="admissions_menu">
    <li role="none"><a id="apply_button" cdkMenuItem>Apply</a></li>
    <li role="none"><a id="sign_up_button" cdkMenuItem>Sign up</a></li>
  </ul>
</ng-template>

<ng-template cdkMenuPanel #styles="cdkMenuPanel">
  <!-- root menu -->
  <ul cdkMenu id="style_menu" aria-label="Style/Color">
    <!-- first group -->
    <li role="menuitemcheckbox" id="bold_button" cdkMenuItem>Bold</li>
    <li role="menuitemcheckbox" id="italic_button" cdkMenuItem>Italic</li>
    <li role="separator"></li>
    <li role="none">
      <!-- second group -->
      <ul cdkMenuRadioGroup="font_size" aria-label="Text Color">
        <li role="menuitemradio" id="red_button" cdkMenuItem>Red</li>
        <li role="menuitemradio" id="green_button" cdkMenuItem>Green</li>
        <li role="menuitemradio" id="black_button" cdkMenuItem>Black</li>
      </ul>
    </li>
  </ul>
</ng-template>

<button style="margin-top: 200px;" tabindex="0">other</button>
